/* styles */

.left {
    float: left;
}

.right {
    float: right;
}

.w-100 {
    width: 100%;
}

.w-55 {
    width: 55%;
}

.w-45 {
    width: 45%;
}


.company-info {
    padding: 45px;
    font-size:1.10em
}

.notice-heading {
    text-transform: uppercase   ;
    font-weight: bold;
}